<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}
    
    <header class="blog-header"><h2>{{page.title}}</h2></header>

    <article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <div class="post-content">{{content}}</div>
            </div>
        </section>

      {% include footer.html %}
      </article>
        
      {% include scripts.html %}

    </div>

  </body>

    
</html>
